*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Sora, sans-serif;
    ;
}
p{
    color:rgb(66,69,75);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    font-size: large;
    list-style: none;
}
li{
    list-style: none;
}
 li a{
    text-decoration: none;
    color: rgb(15, 15, 16);
    font-weight: 500;
    cursor: pointer;
}
li a:hover{
    color: rgb(238, 150, 17);
}
.bookheading{
    font-family: "DM Serif Display", serif;
    font-size: 70px;
    font-weight: 600;
}
@media screen and (max-width: 900px) {
    .bookheading{
        font-size: 40px;
    }
}
.homebookcontainer{
    background-color: rgb(255,250,248);
    padding: 100px;
}
@media screen and (max-width: 900px) {
.homebookcontainer{
    padding: 5%;
}
}
 .homebookcontainer p:first-child{
    padding-top: 70px;
    color: rgb(148,102,94);
    font-size: large;
}
.homebookcontainer h1{
    font-size: 80px;
    font-weight: 600;
    margin: 0px 200px 20px 0px;
}
@media screen and (max-width: 480px) {
    .homebookcontainer h1{
        font-size: 40px;
        font-weight: 600;
        font-family: "DM Serif Display", serif;
        margin: 10px 0px 10px 0px ;
    }
}
.homebookcontainer p{
    color: black;
    margin: 0px 160px 20px 0px;
    font-size: large;
}
@media screen and (max-width: 480px) {
    .homebookcontainer p{
        margin: 0px  0px 10px 0px;
        text-align: justify;
    }
}
.myheading{
 font-size: 50px;
}
@media screen and (max-width: 600px) {
    .myheading{
     font-weight: 600;
     font-size: 40px;
    }
}
.mycontainer{
    position: relative;
    margin: 50px 0px 0px 0px;
    padding: 100px;
    background-color:  rgb(255,250,248);;
    height: 90vh;
}
@media screen and (max-width: 600px) {
.mycontainer{
    padding: 50px;
}
}
#btn1{
    background-color: rgb(148,102,89);
    color: white;
    padding: 5px 25px 5px 25px;
}
#btn2{
    margin:  15px 0px;
    padding: 5px 25px 5px 25px;
}
#btn1:hover{
    background-color: rgb(227, 75, 48);
    transform: scale(1.01)
}
.homebookcontainer #btn2:hover{
    background-color: rgb(248, 68, 37);
}
.myhomelogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.myhomelogo img{

    height: 70px;
    margin: 1%;    
}
#myfirstimg{
    background-image: url(img/hero-image01.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.font{
    font-family: "DM Serif Display", serif;
    font-weight: 600;
}

.img01{
    position:absolute;
    height: 400px;
    z-index: 4;
}
.img02{
    position:absolute;
    height: 370px;
    top: 15px;
    left: 140px;
    z-index: 3;

}
.img03{
    position:absolute;
    top: 27px;
    height: 340px;
    left: 260px;
    z-index: 2;
}
.img04{
    position:absolute;
    height: 320px;
    top: 36px;
    left: 340px;
    z-index: 1;
}
@media screen and (max-width: 1120px) {
    .img01{
        position:absolute;
        height: 340px;
        z-index: 4;
    }
    .img02{
        position:absolute;
        height: 310px;
        top: 15px;
        left: 90px;
        z-index: 3;
    
    }
    .img03{
        position:absolute;
        top: 27px;
        height: 280px;
        left: 150px;
        z-index: 2;
    }
    .img04{
        position:absolute;
        height: 250px;
        top: 40px;
        left: 200px;
        z-index: 1;
    }
}
.autoricon li{
    border-radius: 50%;
    padding: 5px;
    width: 37px;
    background-color: rgb(148,102,89);
}
.autoricon li:hover{
    background-color: rgb(155, 121, 105);
}
#upcomingbookcontainer{
width: 70%;
margin: auto;
padding-top: 100px;
}
#upcomingbookcontainer2{
width: 90%;
margin: 130px 0px 0px 80px;
}
@media screen and (max-width: 1120px) {
    #upcomingbookcontainer{
    width: 90%;
    margin: 60px 0px 20px 20px;
    }
    #upcomingbookcontainer2{
    width: 90%;
    margin: 50px 0px 0px 20px;
    text-align: justify;
}
}
.img05{
    position: absolute;
    height: 410px;
    top: 30px;
    z-index: 1;
}
.img06{
    position: absolute;
    height: 465px;
    left: 140px;
    z-index: 2;
}
@media screen and (max-width: 1120px) {
    .img05{
        position: absolute;
        height: 320px;
        top: 60px;
        z-index: 1;
    }
    .img06{
        position: absolute;
        height: 360px;
        top: 40px;
        left: 100px;
        z-index: 2;
}
}
.authorhomediv{
    height: fit-content;
    margin: 20px 10px;
    padding: 40px;
    border-radius: 0.4rem;
    background-color: rgb(255, 255, 255);
}
.statementdiv{
    margin: 50px 0px 50px 0px;
    background-color:  rgb(148,102,89);;
}
.statementdiv p{
    color: white;
}
.ebookcontainer{
    display: flex;
    margin: 40px 0px 40px 0px;
}
.ebookcontainer img{
    height: 30vh;
    width: 20%;
    object-fit: cover;
}
@media screen and (max-width: 1120px) {
.ebookcontainer img{
    height: 10vh;
}
}
.contactdiv{
    position: relative;
    margin-top: -6%;
    left: 50%;
    transform: translate(-50%);;
    width: 60%;
    padding: 60px;
    background-color: white;
}

@media screen and (max-width: 1120px) {
    .contactdiv{
        width: 90%;
        margin-top: -15%;
    }
}

@media screen and (max-width: 600px) {
    .contactdiv{
        width: 90%;
        margin-top: -30%;
        position: relative;
        padding: 30px;
        background-color: white;
}
}
.footerdiv1{
    position: relative;
    background-color: rgb(23,25,33);
    color: white;
    text-align: center;
    padding: 50px;
}
.footerdiv1 a{
    color: white;
}
.footerdiv2{
    background-color: rgb(48,51,58);
    padding: 30px;
    text-align: center;
}